<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @component.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @component.content %>
</p>

<p>
  <strong>Order:</strong>
  <%= @component.order %>
</p>

<p>
  <strong>Position:</strong>
  <%= @component.position %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
