<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<p>
  <strong>Menu type:</strong>
  <%= @menu.menu_type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu.order %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
