</br>
<div class="row">
  <div class="large-3 columns"><br></div>
  <div class="large-6 columns">
    <div class="callout">
      <h1>Zmiany na koncie</h1>
    </div>
  </div>
  <div class="large-3 columns"><br></div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="large-3 columns"><br></div>
  <div class="large-6 columns">
    <div class="callout">
      <div class="form-inputs">
        <div class="input-group">
          <span class="input-group-label">Login</span>
            <%= f.text_field :email, type:"text", required: false, autofocus: true, class:"input-group-field" %>
          </div>
        <div class="input-group">
          <span class="input-group-label">Hasło </span>
          <%= f.password_field :password, autocomplete: "off", class:"input-group-field" %>
        </div>

        <div class="input-group">
          <span class="input-group-label">Powtórz Hasło </span>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"input-group-field" %>
        </div>

        <div class="input-group">
          <span class="input-group-label">Aktualne Hasło </span>
            <%= f.password_field :current_password, autocomplete: "off", class:"input-group-field" %>
          </div>

          <div class="actions">
            <%= f.submit "Zatwierdź", class:"success button" %>
          </div>
    </div>
  <div class="large-3 columns"><br></div>
</div>
</div>
<% end %>

<div class="row">
  <div class="large-3 columns"></div>
  <div class="large-6 columns"></div>
  <div class="large-3 columns"></div>
</div>
