<br>
<div class="row">
  <div class="large-3 columns"><br></div>
  <div class="large-6 columns">
    <div class="callout">
      <h1>Rejestracja</h1>
    </div>
  </div>
  <div class="large-3 columns"><br></div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="large-3 columns"><br></div>
    <div class="large-6 columns">
      <div class="callout">
        <div class="form-inputs">
          <div class="input-group">
            <span class="input-group-label">Email</span>
            <%= f.text_field :email, type:"text", autofocus: true, class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Imię</span>
            <%= f.text_field :first_name, type:"text", class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Nazwisko</span>
            <%= f.text_field :last_name, type:"text", class:"input-group-field" %>
          </div>

          <span class="label"><% if @minimum_password_length %> Minimum <%= @minimum_password_length %> znaków. <% end %> </span>
          <div class="input-group">
            <span class="input-group-label">Podaj Hasło</span>
            <%= f.text_field :password, type:"password", required: true, class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Powtórz Hasło</span>
            <%= f.text_field :password_confirmation, type:"password", required: true, class:"input-group-field" %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Zarejestruj", class:"success button" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="large-3 columns"><br></div>
  </div>
