<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :article %>
    <%= f.input :author %>
    <%= f.input :content %>
    <%= f.input :email %>
    <%= f.input :ip %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
