<%= form_for @article, html: { multipart: true} do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-label">Tytuł</span>
    <%= f.text_field :title, type:"text", class:"input-group-field" %>
  </div>

  <div class="input-group">
    <span class="input-group-label">Kategoria</span>
    <%= f.collection_select :category_id, Category.all, :id, :title, {prompt: "Wybierz"}, {class:"input-group-field"} %>
  </div>

  <div class="input-group">
    <span class="input-group-label">Autor</span>
    <%= f.text_field :user_id, :value => current_user.id ,:readonly => true, class:"input-group-field" %><br>
  </div>

  <fieldset class="fieldset">
    <legend>Status</legend>
    <%= f.check_box :active, type:"checkbox" %>
    <label for="checkbox12">Opublikowany</label>
    <%= f.check_box :highlight, type:"checkbox" %>
    <label for="checkbox12">Wyróżniony</label>
  </fieldset>

  <span class="label">Wstęp do artykułu</span>
  <%= f.text_area :intro, placeholder:"Wstęp" %>

  <span class="label">Część właściwa artykułu</span>
  <%= f.text_area :content, placeholder:"Artykuł" %>

  <div class="input-group">
    <span class="input-group-label">Wyświetlenia</span>
    <%= f.number_field :visit, :value => 0, class:"input-group-field"  %>
  </div>

  <p>
    <%= f.file_field :image %>
  </p>

  <p>
    <label>
      <%= f.check_box :remove_image %>
      Remove avatar
    </label>
  </p>

  <%= f.submit :Dodaj, class:"button success" %>
  <%= link_to 'Wróć', articles_path, class:"button alert" %>

<% end %>
