<% content_for :title, " – Lista Artykułów." %>
<% content_for :rss, auto_discovery_link_tag(:atom, articles_url(format: "atom")) %>

<br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1>Artykuły – lista</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <table class="stack">
        <thead>
          <tr>
            <th>Tytuł</th>
            <th>Kategoria</th>
            <th>Status</th>
            <th>Wizyty</th>
            <th colspan="5" >Akcje</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.order("created_at desc").each do |article| %>
          <% if current_user.id == article.user_id || current_user.admin? %>
            <tr>
              <td><%= link_to article.title, article %></td>
              <td><%= Category.where(id:article.category).pluck(:title).last %></td>
              <% if article.active == true && article.highlight == true %>
                <td>Aktywny i wyróżniony</td> <% end %>
              <% if article.active == true && article.highlight == false %>
                <td>Aktywny i niewyróżniony</td> <% end %>
              <% if article.active == false && article.highlight == false %>
                <td>Niektywny i niewyróżniony</td> <% end %>
              <% if article.active == false && article.highlight == true %>
                <td>Niektywny i wyróżniony</td> <% end %>
              <td><%= article.visit %></td>
              <td><%= link_to 'Aktywacja', activating_article_path(article), method: :activating, data: { confirm: "Jesteś pewny?" }, class:'warning button tiny' %>
              <td><%= link_to 'Wyróżnienie', highlighting_article_path(article), method: :highlighting, data: { confirm: "Jesteś pewny?" }, class:'warning button tiny' %>
              <td><%= link_to 'Tagi', article_tags_article_path(article), class:'success button tiny' %>
              <td><%= link_to 'Edycja', edit_article_path(article), class:"button tiny" %></td>
              <td><%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Jesteś pewien?' }, class:"alert button tiny" %></td>
            </tr>
          <% end %> <% end %>
        </tbody>
      </table>
      <p><%= will_paginate @articles, renderer: FoundationPagination::Rails %></p>
      <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= link_to 'Nowy Artykuł', new_article_path, class:'success button' %>
    </div>
  </div>
</div>
