<% content_for :title, " - Wydruk artykułu." %>
<% content_for :menu, "printer" %>

<body onload="printpage()">

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <h1><%= @article.title %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <h5>
          <i class="fi-folder"> Kategoria: <%= Category.where(id:@article.category).pluck(:title).last%></i>
          <i class="fi-calendar"> <%= @article.created_at.strftime("%d.%m.%Y") %></i>
          <i class="fi-torso"> Autor: <%= User.where(id:@article.user_id).pluck(:email).last %></i>
        </h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <h3> Komentarze </h3>
        <table class="stack">
          <thead>
            <tr>
              <th>Autor</th>
              <th>Treść</th>
              <th>Adres IP</th>
            </tr>
          </thead>
          <tbody>
            <% @comments.each do |comment| %>
            <% if @article.id == Article.where(id:comment.article).pluck(:id).last %>
              <tr>
                <td><%= comment.author %></td>
                <td><%= comment.content %></td>
                <td><%= comment.ip %></td>
              </tr>
            <% end %><% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer>
      <div class="row">
        <div class="medium-12 columns">
          <%= link_to 'Strona Główna', pages_home_path, class:"button" %></li>
        </div>
      </div>
  </footer>
