<% content_for :title, " – Wydruk artykułu." %>
<% content_for :menu, "printer" %>

<body onload="printpage()">

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <h1><%= @article.title %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <h5>
          <i class="fi-folder"> Kategoria: <%= Category.where(id:@article.category).pluck(:title).last%></i>
          <i class="fi-calendar"> <%= @article.created_at.strftime("%d.%m.%Y") %></i>
          <i class="fi-torso"> Autor: <%= User.where(id:@article.user_id).pluck(:email).last %></i>
        </h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <%= image_tag @article.image.url, width: '500' if @article.image? %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <%= @article.intro.html_safe %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <%= @article.content.html_safe %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <p>Zeskanuj, aby przejść do artykułu na stronie:</p>
        <img src="<%= @qrimage.to_data_url %>" />
      </div>
    </div>
  </div>

  <style type="text/css" media="print">
    .dontprint
    { display: none; }
  </style>

  <footer>
      <div class="row">
        <div class="callout medium-12 columns dontprint">
          <%= link_to 'Strona Główna', pages_home_path, class:"button" %></li>
        </div>
      </div>
  </footer>
