<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.where(id:@article.category).pluck(:title).last  %>
</p>

<p>
  <strong>Active:</strong>
  <%= @article.active %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @article.intro %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Visit:</strong>
  <%= @article.visit %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @article.highlight %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
