<% content_for :title, " - #{@article.title}." %>
<br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1><%= @article.title %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div class="callout">
      <h5><i class="fi-folder"> Kategoria: <%= Category.where(id:@article.category).pluck(:title).last%></i></h5>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="callout">
      <h5><i class="fi-torsos"> Wyświetlenia: <%= @article.visit %></i></h5>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="callout">
      <h5><i class="fi-calendar"> <%= @article.created_at.strftime("%d.%m.%Y") %></i></h5>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="callout">
      <h5><i class="fi-torso"> Autor: <%= User.where(id:@article.user_id).pluck(:email).last %></i></h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <div class="callout">
      <%= link_to 'Pobierz Artykuł w PDF', article_path(@article, format: "pdf"), class:'button'%>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="callout">
      <%= link_to 'Wydrukuj Artykuł', print_article_article_path(@article), :method => :get, class:'button'%>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="callout">
      <%= link_to 'Wydrukuj Komentarze', print_article_comments_article_path(@article), :method => :get, class:'button'%>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= image_tag @article.image.url if @article.image? %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= @article.intro.html_safe %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= @article.content.html_safe %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3 id="comments"> Tagi </h3>
      <h5>
        <% @tag_refs.each do |tag_refs| %>
          <% if @article.id == Article.where(id:tag_refs.article_id).pluck(:id).last %>
          <%= link_to Tag.where(id:tag_refs.tag_id).pluck(:title).last, tag_path(tag_refs.tag_id)  %>
        <% end %><% end %>
      </h5>
    </div>
  </div>
</div>

<% if current_user %>
  <% if current_user.id == @article.user_id || current_user.try(:admin?) %>
    <div class="row">
      <div class="large-6 columns">
        <div class="callout">
          <%= link_to 'Edycja', edit_article_path(@article), class:"warning button" %>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="callout">
          <%= link_to 'Powrót', articles_path, class:"button" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if @article.comments_on == true %>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3 id="comments"> Komentarze </h3>
      <table class="stack">
        <thead>
          <tr>
            <th>Autor</th>
            <th>Treść</th>
            <th>Adres IP</th>
            <th>Ocena</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <% if @article.id == Article.where(id:comment.article).pluck(:id).last %>
            <tr>
              <td><%= comment.author %></td>
              <td><%= comment.content %></td>
              <td><%= comment.ip %></td>
              <td><%= comment.vote_plus.to_i - comment.vote_minus.to_i %>
                  <%= link_to '+', voteplus_comment_path(comment), method: :voteplus, class:'success button tiny' %>
                  <%= link_to '-', voteminus_comment_path(comment), method: :voteminus, class:'alert button tiny' %></td>
            </tr>
          <% end %><% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3 id="add_comment"> Dodaj Komentarz </h3>
        <%= form_for Comment.new do |f| %>
          <%= f.hidden_field :article_id, :value => @article.id  %>
          <%= f.hidden_field :ip, :value => request.remote_ip %>
          <div class="input-group">
            <span class="input-group-label">Autor</span>
            <%= f.text_field :author, type:"text", class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Treść</span>
            <%= f.text_field :content, type:"text", class:"input-group-field" %>
          </div>
          <%= flash[:recaptcha_error] %>
          <%= recaptcha_tags %> <br>
          <%= f.submit "Dodaj Komentarz", class:"succes button" %>
        <% end %>
    </div>
  </div>
</div>
<% end %>
