<% content_for :title, " - Lista artykułów." %>
<% content_for :menu, "admin" %>
</br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1>Zaplecze - Zarządzanie artykułami</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <table class="stack">
        <thead>
          <tr>
            <th>Tytuł</th>
            <th>Kategoria</th>
            <th>Status</th>
            <th>Wizyty</th>
            <th>Autor</th>
            <th colspan="2">Akcje</th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= link_to article.title, article %></td>
              <td><%= Category.where(id:article.category).pluck(:title).last %></td>
              <% if article.active == true && article.highlight == true %>
                <td>Aktywny i wyróżniony</td> <% end %>
              <% if article.active == true && article.highlight == false %>
                <td>Aktywny i niewyróżniony</td> <% end %>
              <% if article.active == false && article.highlight == false %>
                <td>Niektywny i niewyróżniony</td> <% end %>
              <% if article.active == false && article.highlight == true %>
                <td>Niektywny i wyróżniony</td> <% end %>
              <td><%= article.visit %></td>
              <td><%= User.where(id:article.user_id).pluck(:email).last %></td>
              <td><%= link_to 'Edytuj', edit_article_path(article), class:"button tiny" %></td>
              <td><%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Jesteś pewien?' }, class:"alert button tiny" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= will_paginate @articles, renderer: FoundationPagination::Rails %></p>
      <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <%= link_to 'Dodaj nowy Artykuł', new_article_path, class:"success button" %>
    </div>
  </div>
</div>
