</br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout" align="center">
      <h1>Zaplecze - Zarządzanie użytkownikami</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout" align="center">
      <table class="stack">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Admin?</th>
            <th>Rejestracja</th>
            <th>Logowanie</th>
            <th>Akcje</th>
          </tr>
        </thead>
        <tbody>
          <% @users.order("id").each do |user|  %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <% if user.admin == true %>
                <td>Tak</td>
              <% else %>
                <td>Nie</td>
              <% end %>

              <td><%= user.last_sign_in_at.strftime("%d.%m.%Y") %></td>
              <td><%= user.created_at.strftime("%d.%m.%Y") %></td>
              <td><%= link_to "Admin", grantadmin_user_path(user), method: :grantadmin, data: { confirm: "Jesteś pewny?" }, class:'warning button tiny'%>
              <%= link_to "Usuń", user_path(user), method: :delete, data: { confirm: "Jesteś pewny?" }, class:'alert button tiny' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= will_paginate @users, renderer: FoundationPagination::Rails %></p>
      <br>
    </div>
  </div>
</div>
