<% content_for :title, " - Dodawanie uzytkownika." %>
<% content_for :menu, "admin" %>

<br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>Nowy użytkownik</h3>
    </div>
  </div>
</div>

<%= form_for User.new do |f| %>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <div class="form-inputs">
          <div class="input-group">
            <span class="input-group-label">Email</span>
            <%= f.text_field :email, type:"text", autofocus: true, class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Imię</span>
            <%= f.text_field :first_name, type:"text", class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Nazwisko</span>
            <%= f.text_field :last_name, type:"text", class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Podaj Hasło</span>
            <%= f.text_field :password, type:"password", required: true, class:"input-group-field" %>
          </div>
          <div class="input-group">
            <span class="input-group-label">Powtórz Hasło</span>
            <%= f.text_field :password_confirmation, type:"password", required: true, class:"input-group-field" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout">
        <%= f.submit :Zatwierdź, class:"button success" %>
      </div>
    </div>
  </div>
  <% end %>
