<% content_for :title, " - Strona Główna." %>
<br>
<div class="row">
  <div class="medium-12 columns">
    <div class="callout" align="center">
      <% @articles.where(:highlight => true).take(1).each do |article| %>
        <p> <%= link_to image_tag(article.image.url, size: "720x480"), article %> </p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <div class="callout" align="center">
      <h2 style="margin: 0;" class="text-center">AKTUALNOŚCI</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-8 columns">
      <% @articles.order("created_at desc").each do |article| %>
      <% if article.active? %>
      <div class="callout">
        <div class="row">
          <div class="large-6 columns">
            <h6 align="center"><i class="fi-torso" > <%= User.where(id:article.user_id).pluck(:email).last %> </i></h6>
            <h6 align="center"><i class="fi-calendar"> <%= article.created_at.strftime("%d.%m.%Y") %> </i>
            <i class="fi-comments"> 0 comments</i></h6>
          </div>
          <div class="large-6 columns">
            <h3 align="center"><%= article.title %></h3>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <p align="center"><%= image_tag article.image.url(:thumb) if article.image? %></p>
          </div>
          <div class="large-6 columns">
            <p><%= raw article.intro.html_safe.to_s %></p>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns"></div>
          <div class="large-6 columns" align="right">
            <%= link_to 'Czytaj więcej', article, class:"small button" %>
          </div>
        </div>
      </div>
      <% end %> <% end %>
    <div class="callout" align="center">
      <%= will_paginate @articles, renderer: FoundationPagination::Rails %>
    </div>
  </div>

  <div class="large-4 columns">
    <aside>
        <% if current_user %>
        <div class="row column">
          <div class="callout" align="center">
          <p class="lead">SZYBKIE AKCJE</p>
            <table style="width:100%">
              <tr align="center">
                <td><%= link_to '<font size="24"><i class="fi-page-add"></i></font>'.html_safe, new_article_path %></td>
                <td><%= link_to '<font size="24"><i class="fi-page"></i></font>'.html_safe, articles_path %></td>
                <td><%= link_to '<font size="24"><i class="fi-comments"></i></font>'.html_safe, comments_path %></td>
              </tr>
              <tr align="center">
                <td>Nowy Artykuł</td>
                <td>Moje Artykuły</td>
                <td>Komentarze</td>
              </tr>

            </table>
          </div>
        </div>
        <% end %>

      <div class="row column">
        <div class="callout">
          <p class="lead" align="center">NAJPOPULARNIEJSZE ARTYKUŁY</p>
          <% @articles.order("visit desc").take(5).each do |article| %>
          <div class="media-object">
            <div class="media-object-section">
              <%= image_tag(article.image.url, size: "100x100") %>
            </div>
            <div class="media-object-section">
              <h5> <%= link_to article.title, article %> </h5>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="row column">
        <div class="callout" align="center">
          <p class="lead">DROBNE STATYSTKI</p>
          <h5>Ilość Artykułów: <strong><%= Article.all.count %></strong>.</h5>
          <h5>Ilość Kategorii: <strong><%= Category.all.count %></strong>.</h5>
          <h5>Ilość Komentarzy: <strong><%= Comment.all.count %></strong>.</h5>
          <h5>Ilość Tagów: <strong><%= Tag.all.count %></strong>.</h5>
          <h5>Ilość Użytkowników: <strong><%= User.all.count %></strong>.</h5>
        </div>
      </div>

    </aside>
  </div>
</div>
