<% content_for :title, " – Statystyki." %>

</br>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h1>Zaplecze – Statystyki</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="callout">
      <h5>Ilość artykułów z podziałem na kategorie</h5>
      <%= pie_chart Article.joins(:category).group(:title).count %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="callout">
      <h5>Ilość artkyułów z podziałem na userów</h5>
      <%= pie_chart Article.joins(:user).group(:email).count %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h5>Ilosć artykułów według daty</h5>
      <%= line_chart Article.group_by_day(:created_at).count %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="callout">
      <h5>Najczęściej komentowane artykuły</h5>
      <%= pie_chart Comment.joins(:article).group(:title).count %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="callout">
      <h5>Najczęściej czytanie artykuły</h5>
      <%= pie_chart Article.group(:title).sum(:visit) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h5>Ilosć uzytkwoników według daty</h5>
      <%= line_chart User.group_by_day(:created_at).count %>
    </div>
  </div>
</div>
