<div class="row column">
  <div class="callout">
    <p class="lead">DROBNE STATYSTKI</p>
    <h5>Ilość Artykułów: <strong><%= Article.all.count %></strong>.</h5>
    <h5>Ilość Kategorii: <strong><%= Category.all.count %></strong>.</h5>
    <h5>Ilość Komentarzy: <strong><%= Comment.all.count %></strong>.</h5>
    <h5>Ilość Tagów: <strong><%= Tag.all.count %></strong>.</h5>
    <h5>Ilość Użytkowników: <strong><%= User.all.count %></strong>.</h5>
  </div>
</div>
