<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout" align="center">
        <div class="input-group">
          <span class="input-group-label">Tytuł</span>
          <%= f.text_field :title, type:"text", class:"input-group-field" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout" align="center">
        <div class="input-group">
          <span class="input-group-label">Krótki Opis</span>
          <%= f.text_field :desc, type:"text", class:"input-group-field" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout" align="center">
          <%= f.check_box :active, type:"checkbox" %>
          <label for="checkbox12">Opublikowany</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="callout" align="center">
        <%= f.submit :Zatwierdź, class:"button success" %>
      </div>
    </div>
  </div>

<% end %>
