<br>
<div class="row">
  <div class="medium-12 columns">
    <div class="callout">
      <h2><%= @category.title %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <div class="callout">
      <p><%= @category.desc %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
      <% @articles.where(category_id: @category.id).order("created_at desc").each do |article| %>
        <% if article.category_id == @category.id && article.active? %>
        <div class="callout">
          <div class="row">
            <div class="large-6 columns">
              <h6><i class="fi-torso" > Autor: <%= User.where(id:article.user_id).pluck(:email).last %> </i></h6>
              <h6><i class="fi-calendar"> Data: <%= article.created_at.strftime("%d.%m.%Y") %> </i> </h6>
            </div>
            <div class="large-6 columns">
              <h3><%= article.title %></h3>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <p><%= image_tag article.image.url(:thumb) if article.image? %></p>
            </div>
            <div class="large-6 columns">
              <p><%= raw article.intro.html_safe.to_s %></p>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <h6><i class="fi-comments"> Komentarze: <%= Comment.where(article_id:article.id).count %> </i></h6>
            </div>
            <div class="large-6 columns">
              <%= link_to 'Dodaj komentarz', article_url(article, :anchor => "add_comment") , class:"small button" %>
              <%= link_to 'Czytaj więcej', article, class:"small button" %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% if @articles.where(category_id: @category.id).order("created_at desc").count == 0 %>
        <div class="callout">
          Brak artykułów do wyświetlenia w tej kategorii.
        </div>
      <% else %>
        <div class="callout">
          <%= will_paginate @articles, renderer: FoundationPagination::Rails %>
        </div>
      <% end %>
  </div>
</div>
