<% if current_user.try(:admin?)%>
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">TrainCMS – Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="menu-text"><%= link_to 'TrainCMS – Administrator', admin_main_path %></li>
      <li><%= link_to 'Strona Główna', pages_home_path %></li>
      <li><a href="#">Artykuły</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', admin_articles_path %></li>
          <li><%= link_to 'Dodaj', new_article_path %></li>
        </ul>
      </li>
      <li><a href="#">Kategorie</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', admin_categories_path %></li>
          <li><%= link_to 'Dodaj', new_category_path %></li>
        </ul>
      </li>
      <li><a href="#">Komentarze</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', admin_comments_path %></li>
        </ul>
      </li>
      <li><a href="#">Tagi</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', admin_tags_path %></li>
          <li><%= link_to 'Dodaj', new_tag_path %></li>
        </ul>
      </li>
      <li><a href="#">Zakładki</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', bookmarks_path %></li>
          <li><%= link_to 'Dodaj', new_bookmark_path %></li>
        </ul>
      </li>
      <li><a href="#">Komponenty</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', components_path %></li>
          <li><%= link_to 'Dodaj', new_component_path %></li>
        </ul>
      </li>
      <li><a href="#">Użytkownicy</a>
        <ul class="menu vertical">
          <li><%= link_to 'Lista', admin_users_path %></li>
        </ul>
      </li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_signed_in? %>
      <li class="menu-text"><%= link_to 'Wyloguj', destroy_user_session_path, :method => :delete  %></li>
      <% else %>
      <li class="menu-text"><%= link_to 'Zaloguj', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<% else %>
  <p><%= link_to 'Strona Główna', pages_home_path, class:"button" %> </p>
<% end %>
