<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">TrainCMS - Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="menu-text"><%= link_to 'TrainCMS', pages_home_path %></li>
      <% Category.all.each do |category| %>
        <li><%= link_to category.title, category %></li>
      <% end %>
      <li><%= link_to 'Komentarze', comments_path %></li>
      <li><%= link_to 'Wydarzenia', events_path %></li>
      <li><%= link_to 'Wyszukiwarka', pages_search_path %>
      <% if user_signed_in? %>
        <li class="has-submenu">
          <a href="#">Moje Konto</a>
          <ul class="submenu menu vertical">
            <li><%= link_to 'Zmiany na koncie', edit_user_registration_path %></li>
            <li><%= link_to 'Wyloguj', destroy_user_session_path, :method => :delete  %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_signed_in? %>
      <li class="menu-text"><%= link_to 'Wyloguj', destroy_user_session_path, :method => :delete  %></li>
      <% else %>
      <li class="menu-text"><%= link_to 'Zaloguj', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
