<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrainCMS <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.css" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" %>
    <%= yield :rss %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= javascript_include_tag "foundation" %>
    <% if yield(:menu) == "admin" %>
      <%= render 'layouts/header-admin' %>
    <% elsif yield(:menu) == "printer" %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <% if yield(:menu) == "printer" %>
    <% else %>
    <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
